@import "./commons.scss";

.SideBarMenuCardView {
  text-align: center;
  color: var(--primary);

  .profile_photo {
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    max-width: 128px;
  }

  .profile_info {
    overflow: hidden;
    height: 80px;
    @include transition(height);

    &.collapsed {
      opacity: 0;
      height: 0;
    }

    .name {
      font-size: 20px;
      font-weight: var(--bold);
    }

    .url {
      a {
        color: #79a8ff;
        text-decoration: none;

        &:hover {
          color: #fff;
        }
      }
    }
  }
}