# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#  Siempre, variables comunes a todos los entornos
.env 
# Solo en npm run dev, config específico del entorno de desarrollo
.env.development
# Solo en npm run build, config específico del entorno de producción
.env.production